# ==============================================================================
# Ritik Suthar - Backend Environment Configuration (Template)
# Copy this to .env and fill in your values
# ==============================================================================

PORT=5000
MONGODB_URI=mongodb://portfolio:8Sp4kW6VBDkVPPQK@ac-rmjpy3e-shard-00-00.n4w3u1a.mongodb.net:27017,ac-rmjpy3e-shard-00-01.n4w3u1a.mongodb.net:27017,ac-rmjpy3e-shard-00-02.n4w3u1a.mongodb.net:27017/portfoliodata?ssl=true&replicaSet=atlas-gyi082-shard-0&authSource=admin&appName=practice-mongo
JWT_SECRET=91151288a3214df9752cfab9fa64098be73722714a7bd763e1529d60dab04c19
ADMIN_USERNAME=@ritik25
ADMIN_PASSWORD=@github25
ADMIN_EMAIL=ritiksuthar989@gmail.com

IMAGEKIT_PUBLIC_KEY=public_qorMVCrgL5FJe0iML4ku3GqTUWw=
IMAGEKIT_PRIVATE_KEY=private_/Qg7WnOlfXXkLZi3nWuZgzg1WFE=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/e6tijc29r
